
body {
 /*background:linear-gradient(to right, pink , powderblue);*/
 background:white;
}
h1 {
	text-align: left;
	color: black;
    font-family: futura;
    font-size: 150%;
    padding-top:10px;
    padding-left:30px;
	}
/* for paragraphs */
p {
	color: red;
    padding-left:30px;
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

a {
    padding-left: 30px;
}

button {
    background-color:orange; /* Green */
    border: none;
    color: white;
    padding-top:10px;
    padding-left:30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}