
body {
 background:linear-gradient(to right, white 0% , white 50%, black 50%, black 100%);
 /*background:white;*/
}
h1 {
	text-align: center;
	color: black;
    font-family: futura;
    font-size: 200%;
	}
/* for paragraphs */
p.black {
	color: black;
    padding-left:30px;
    font-family: futura;
    font-size: 150%;
    padding: 0px;
    padding-left:30px; 
    font-family:futura;
}
p.white {
    color: white;
    padding-left:30px;
    font-family: futura;
    font-size: 150%;
    padding: 0px;
    padding-right:30px; 
    font-family:futura;
}

p.head{
    color: black;
    font-family: futura;
    font-size: 150%;
    padding: 0px;
    padding-left:30px; 
    font-family:futura;
    text-align:center;

}

#header{
    background-color: #bcf442;
    width: 100%;
    text-align: center;
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

a {
    padding-left: 30px;
}

button {
    background-color:orange; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: futura;
    font-size: 150%;
    padding: 0px;
}

button:hover {
    background-color: white; 
    color: orange;
    border-color:orange;
    border-width
}
marquee {
    font-family:futura;
}
