
body {
 background:linear-gradient(to right, pink , powderblue);
}
h1 {
	text-align: left;
	color: black;
    font-family: futura;
    font-size: 150%;
    padding-top:10px;
    padding-left:30px;
	}
p {
	color: red;
    padding-left:30px;
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

a {
    padding-left: 30px;
}