
body {
 /*background:linear-gradient(to right, white 0% , white 50%, black 50%, black 100%);*/
 background:black;
 position:fixed;   /*this makes sure that the page is only one page*/
 height:100%;
 width:100%;
 max-height:98%;
}
h1 {
	text-align: center;
	color: black;
    font-family: futura;
    font-size: 200%;
	}
/* for paragraphs */
p.black {
	color: black;
    padding-left:30px;
    font-family: futura;
    font-size: 150%;
    padding: 0px;
    padding-left:30px; 
    font-family:futura;
}
p.white {
    color: white;
    padding-left:30px;
    font-family: futura;
    font-size: 150%;
    padding: 0px;
    padding-right:30px; 
    font-family:futura;
}

p.head{
    color: black;
    font-family: futura;
    font-size: 150%;
    padding-top: 6px; 
    padding-bottom:6px;
    font-family:futura;
    text-align:center;

}

#header {
    background-color: #bcf442;
    text-align: center;
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

a {
    padding-left: 30px;
}

button {
    background-color:orange; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: futura;
    font-size: 150%;
    padding: 0px;
}

button:hover {
    background-color: white; 
    color: orange;
    border-color:orange;
    border-width
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0);}
    100% { transform: translate(-100%, 0);}
}

p.marquee {
    width: 100%;
    margin: 0 auto;
    z-index=-1;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    font-family:futura;
    background-color:black;
    color:white;
    animation-name:marquee;
}

p.marquee span {
    display: inline-block;
    padding-left: 100%;  /* show the marquee just outside the paragraph */
    animation: marquee 12s linear infinite;
}

p.marquee span:hover {
    animation-play-state: paused
}

/*THIS CHANGES THE GAME IT ERADICATES EXTRA PADDING*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.wrapper {
  display: grid;
  /*border-style: solid;
  border-color: red;*/
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  width: 100%;
  height:16.5%;
  overflow:visible;
}

.grandWrapper {
  width:100%;
  height:100%;
  max-height:100%;
  /*border-style:solid;
  border-color:red;*/

}
.item {
 /* border-style: solid;
  border-color: white;*/
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:center;
  font-family:futura;
  font-size:50px;
  color:white;
}

.item span:hover {
    opacity:.8;
}



