
body {
 /*background:linear-gradient(to right, white 0% , white 50%, black 50%, black 100%);*/
background-color:black !important; /* use the important tag to override the default*/
position:fixed;
width:100%;
height:95%;
top:0px;
left:0px;
z-index:1000;    
}
h1 {
	text-align: center;
	color: white;
    font-family: 'VT323', monospace;
    font-size: 200%;
	}

p.head{
    color: black;
    font-family: 'VT323', monospace;
    font-size: 150%;
    padding-top: 6px; 
    padding-bottom:6px;
    text-align:center;

}

p.body{
    color: white;
    font-family: 'VT323', monospace;
    font-size: 30px;
    text-align:center;
    white-space: nowrap;

}

#header {
    position:sticky;
    background-color: #bcf442;
    text-align: center;
    font-size:1vw; /* this makes the text dynamic to the screen*/
}

/* unvisited link */
a:link {
    color: red;
    text-decoration:none;
}

/* visited link */
a:visited {
    color: green;
    text-decoration:none;
}

/* mouse over link */
a:hover {
    color: hotpink;
    text-decoration:none;
}

/* selected link */
a:active {
    color: blue;
    text-decoration:none;
}

a {
    /*padding-left: 30px;*/
    text-decoration:none;
}

button {
    background-color:orange; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'VT323', monospace;
    font-size: 150%;
    padding: 0px;
}

button:hover {
    background-color: white; 
    color: orange;
    border-color:orange;
    border-width
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translate(-100%, 0);}
    100% { transform: translate(0, 0);}
}

/* Make it move */
@keyframes marqueeR {
    0% { transform: translate(0, 0);}
    100%   { transform: translate(-100%, 0);}
}
.marquee {
    width: 100%;
    margin: 0 auto;
    z-index=-1;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    background-color:black;
    color:white;
    font-size:1.2vw;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;  /* show the marquee just outside the paragraph */
    animation: marquee 12s linear infinite;
}

.marquee span:hover {
    animation-play-state: paused
}

.marqueeR {
    width: 100%;
    margin: 0 auto;
    z-index=-1;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    background-color:black;
    color:white;
    font-size:1.2vw;
}

.marqueeR span {
    display: inline-block;
    padding-left: 100%;  /* show the marquee just outside the paragraph */
    animation: marqueeR 12s linear infinite;
}

.marqueeR span:hover {
    animation-play-state: paused
}
/*THIS CHANGES THE GAME IT ERADICATES EXTRA PADDING*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container-fluid {
  display: grid;
 /*border-style: solid;
  border-color: red;*/
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  width: 100%;
  height:16.5%;
  padding:0;
  overflow:visible;
}

.grandWrapper {
  width:100%;
  height:100%;
  max-height:100%;
  position:fixed;
  /*border-style:solid;
  border-color:red;*/

}
.col-lg-2 {
 /*border-style: solid;
  border-color: white;*/
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:center;
  font-family: 'VT323', monospace;
  font-size:80px;
  color:white;
  animation: shake 2.5s;
  animation-iteration-count: infinite;
}

.words{
  position: absolute;
  top: 30;
  bottom: 30;
  left: 30;
  right: 30;
  white-space:nowrap;
  color: #bcf442;
  font-size:23px;
  visibility: hidden;
  opacity: 0;
}

.col-lg-2 span:hover .words {
    visibility: visible;
    opacity:1;
}

.container-fluid{
    opacity:.6;
}
.container-fluid:hover {
    opacity:1;
}

.container-fluid:hover .arrow {
    color: #bcf442;
}

.col-lg-2:hover {
 animation-play-state: paused;
}
   

@keyframes shake {
  0% { transform: translate(0px, 0px) rotate(0deg); }
  25% { transform: translate(3px, 0px) rotate(1deg); } 
  50% { transform: translate(3px, 3px) rotate(-1deg); }
  75% { transform: translate(0px, 3px) rotate(1deg); }
  100% { transform: translate(0px, 0px) rotate(0deg); }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;




