
body {
 background:linear-gradient(to right, pink , powderblue);
}
h1 {
	text-align: center;
	color: black;
    font-family: futura;
    font-size: 150%;
	}
p {
	color: red;
	background-color: pink;
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}